* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;      
}

.body{
    background: pink;
}

/* HOME BUTTON */

.btn {
    height: 90px;
    width: 150px;
    background: rgb(216, 204, 163);
    color: rgb(60, 35, 23);
    font-size: 25px;
    border-radius: 10px;
    border: 3px solid rgb(249, 250, 250);
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    overflow: hidden;
    cursor: pointer;
}

.btn::after{
    content: "";
    height: 350px;
    width: 350px;
    background:rgb(135, 128, 94);
    position: absolute;
    top: 40px;
    left: 50px;
    transform: translate(-50%);
    z-index: -1;
    border-radius: 150px;
    animation: wave 5s infinite linear;
}

@keyframes wave {
    0%{
        transform: translate(-50%) rotate(-180deg);
    }
}

.btn:hover::after{
    top: 15px;


}